{% extends "base.html" %}

{% block main %}
<h1>LISTA DE TAREAS</h1>
<table>
  <tr>
    <th>TITULO</th>
    <th>CONTENIDO</th>
    <th colspan="3"></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td>{{task.content}}</td>
    <td><a href="{% url 'tasks:detail' task.id %}">DETALLES</a></td>
    <td><a href="{% url 'tasks:edit' task.id %}">EDITAR</a></td>
    <td><a href="{% url 'tasks:delete' task.id %}">ELIMINAR</a></td>
  </tr>
  {% endfor %}
</table>

<br>

<a href="{% url 'tasks:create' %}">CREAR NUEVO</a>

{% endblock %}
